/*Estilo en body*/

body{
    color:rgb(12, 12, 11)
    background-color: palevioletred;
}

p,li{
color:darkseagreen;
}

h3{
font-size: 35px;
font-family:'Courier New', Courier, monospace;
}

h1{
font-size: 50px;
color:red;
font-family: 'Roboto Mono', monospace;

}

img{
width: 300px;
border-style: solid;
border-color:bisque;

}

div,footer{
    background-color: blanchedalmond;

}